.container
  margin: 0 auto
  padding: 30px 0px
  display: flex
  gap: 50px
  // height: 100vh

.grid-container
  display: grid
  grid-template-columns: repeat(3, auto)
  grid-template-rows: repeat(4, auto)
  align-items: center
  justify-items: center
  gap: 30px
  position: relative

.grid
  display: grid
  grid-template-columns: repeat(7, 50px)
  grid-template-rows: repeat(6, 30px)
  align-items: center
  justify-items: center
  background-color: #222222
  border-radius: 10px
  border: 1px solid #444444
  box-shadow: 0px 0px 10px 1px #aaa
  font-weight: 600
  div
    font-size: 14px
.calendarPage
  &__grid
    display: grid
    grid-template-columns: repeat(7, 150px)
    grid-template-rows: repeat(5, 150px)
    align-items: center
    justify-items: center
    font-weight: 900
    padding: 10px
    div
      display: flex
      justify-content: center
      align-items: center
      width: 150px
      height: 150px
      div
        font-family: 'Courier New', Courier, monospace
        padding: 10px
        font-size: 16px
