.settings-data-item
  border-radius: 8px
  border: 1px solid var(--main-border-color)
  // padding: 10px
  margin-bottom: 20px
.settings-date-header
  padding: 10px
  border-bottom: 1px solid var(--main-border-color)
  font-size: 14px
  font-weight: bold
.settings-date-body
  padding: 10px
input
  &:disabled
    transition: none
    border: none
    flex: 1 1 auto
    box-shadow: none
    background-color: var(--bs-primary-bg)
    border: 1px solid var(--bs-border-color)
.settings-date-prop
  margin-bottom: 10px
  display: flex
  justify-content: start
  align-items: center

.settings-date-checkbox
  margin-right: 10px