@import '../../main.sass'

.header
	background-color: var(--header-bg-color)

.header-global
	display: flex
	justify-content: space-between
	align-items: center
	height: 64px
	padding: 16px

	a
		text-decoration: none
		font-size: 30px

.header-local

.header-logo-icon
	height: 34px
	width: 34px
	margin-right: 10px

.header-link
	display: flex
	justify-content: center
	align-items: center

.header-logo
	font-size: 30px
	font-family: cursive

